body {
  background-color: rgb(236, 233, 233);
}

button {
  border: solid 1px rgb(131, 130, 130);
  background-color: rgb(12, 116, 180);
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  width: 110px;
  height: 35px;
  border-radius: 20px;
}
.buttonWrapper {
  margin-top: 30px;
}

.score {
  width: fit-content;
  background-color: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px darkgray;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
}
.icons {
  padding: 30px;
}

.message,
.icons,
.buttonWrapper {
  text-align: center;
}
